body{
  font-size: 13px; 
  font-family: Manrope,sans-serif;
  font-weight: 500;
  background-color:hsl(210, 46%, 95%);
}

main{
 display: flex;
 justify-content: center;
 margin: 200px 0;
}

#Michelle{
  display: flex;
  width: 445px;
  padding-top: 10px;
}

h2{
  margin: 0;
  color: hsl(214, 17%, 51%);
}

span{
  margin-left: 20px;
}

span>p{
  margin-top: 5px;
  margin-bottom: 0;
}

h1{
  font-weight: 700;
  font-size: 25px;
  width: 420px;
  margin-top: 0;
}

h1{
  color:  hsl(217, 19%, 35%);
}

h2{
  font-size: 13px;
}

p{
  color: hsl(212, 23%, 69%);  
  line-height: 20px;
  width: 350px;
}

#label{
  padding: 20px;
  border-radius: 0 10px 10px 0;
  background-color: white;
}

#label img{
  border-radius: 175px;
  height: 45px;
}

#image>img{
  width: 350px;
  border-radius: 10px 0 0 10px;
}